@mixin main-font {
  font-family: 'Roboto Slab', Garamond, Georgia, serif;
}

@mixin secondary-font {
  font-family: 'Monserrat', Arial, sans-serif;
}

@mixin font-size($size) {
  // creating rem font sizes with fallback to px for old browsers
  font-size: $size * 1px;
  font-size: $size / 10 * 1rem;
}
