.about {
  padding-top: 80px;
  padding-bottom: 90px;
  text-align: center;

  &__inner {
    max-width: 670px;
    margin-right: auto;
    margin-left: auto;
  }

  &__title {
    margin-bottom: 27px;
    @include font-size(32);
    font-weight: 300;
  }

  &__text {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 45px;
    @include secondary-font;
  }
}
