.course-subjects {
  margin-right: -5px;
  margin-left: -5px;
  padding-top: 30px;
  padding-bottom: 80px;
  @include clearfix;

  &__item {
    float: left;
    width: 20%;
    padding-top: 6px;
    padding-right: 5px;
    padding-bottom: 8px;
    padding-left: 5px;
    text-align: center;
    @include font-size(18);
    color: inherit;
  }

  &__icon {
    width: 44px;
    height: 44px;
    margin-right: auto;
    margin-bottom: 18px;
    margin-left: auto;
    border-radius: 50%;
    background-color: $apricot;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    &:hover,
    &:focus {
      color: inherit;
    }
  }
}
