.footer-menu {
  margin-bottom: 10px;
  font-size: 0;
  @include secondary-font;
  &__item {
    display: inline-block;
    margin-right: 22px;
  }

  &__link {
    @include font-size(16);
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
    }
  }

}
