.video-thumbnail {
  position: relative;
  &__pic {
    max-width: 100%;
  }

  &__icon {
    width: 41px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
  }
}
